name: Build Kernel

on:
  workflow_dispatch:
    inputs:
      ksun_branch:
        description: 'KernelSU Branch'
        default: 'main'
        required: false

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        model: [RMX3853]
        soc: [sm7450]
        branch: [main]
        manifest: [realme_GT6T.xml]
        android_version: [13]
        kernel_version: [6.1]

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Get SUSFS Branch
        id: get-susfs-branch
        run: echo "susfs_branch=main" >> $GITHUB_OUTPUT

      - name: Build Kernel
        uses: WildKernels/OnePlus_KernelSU_SUSFS/.github/actions@main
        with:
          model: ${{ matrix.model }}
          soc: ${{ matrix.soc }}
          branch: ${{ matrix.branch }}
          manifest: ${{ matrix.manifest }}
          android_version: ${{ matrix.android_version }}
          kernel_version: ${{ matrix.kernel_version }}
          ksun_branch: ${{ inputs.ksun_branch }}
          susfs_branch: ${{ steps.get-susfs-branch.outputs.susfs_branch }}
